@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

span {
	color: turquoise;
}

.stats {
	color: royalblue;
	font-weight: 900;
	margin-left: 15px;
}

.variationGood {
	color: limegreen;
	font-weight: 900;
}

.variationBad {
	color: red;
	font-weight: 900;
}